@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #333;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.event {
  display: flex;
  margin: 20px;
  padding: 10px 50px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  min-width: 150px;
  justify-content: center;
  font-weight: bold;
}
.event small {
  position: absolute;
  top: -30px;
  left: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.btn {
  width: 100%;
  text-align: center;
}
.btn button {
  padding: 20px;
  border-radius: 5px;
  border: 0;
}
button:active,
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.98);
}
button:hover {
  opacity: 0.8;
}
