@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	background-color: rgba(179, 25, 22, 0.7);
}

h3 {
	color: #fff;
	font-weight: normal;
	font-size: 30px;
}

img {
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 2px;
}

.carousel {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
	height: 530px;
	width: 500px;
	overflow: hidden;
}

.image-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.btn {
	background-color: rgb(179, 25, 22);
	color: #fff;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	width: 49.5%;
	font-family: inherit;
}
.btn:hover {
	opacity: 0.9;
}

.btn:focus {
	outline: none;
}
